<!DOCTYPE html>
<html lang="en">
    <head>
        {% include '/common/header.html' %}
    </head>
    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            {% include '/common/topnav.html' %}
            <!-- Page Content-->
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">후보자용</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">

                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        {% include '/common/footer.html' %}
        {% include '/common/adscript.html' %}
    </body>
</html>
