<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
    <div class="container px-5">
        <a class="navbar-brand" href="/"><span class="fw-bolder text-primary">355-A 지구 제2부총재 후보 전희충</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                <li class="nav-item"><a class="nav-link" href="/">홈화면</a></li>
                <li class="nav-item"><a class="nav-link" href="/reservation">방문예약</a></li>
                <li class="nav-item"><a class="nav-link" href="/history">후보프로필</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">문의사항</a></li>
                {% if session.get("vote_user_No") %}<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>{% endif %}
            </ul>
        </div>
    </div>
</nav>